body {

}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px;
    display: block;
    margin: auto;
    transition: 0.35s;
    box-shadow: 0 4px 10px rgb(8, 8, 8);
}

name {

}


h1 {
text-align: center;
font-family: arial;

}

li {
    font-size: 20px;
}

p {
    font-size: 20px;
}

p, a, h1, h2, h3 {
    text-align: center;
    display: block;
}

h2 {
    font-size: 40px;
}

ul {
    text-align: center;
}

.card {
    border: 2px solid rgba(255, 191, 145, 0.866);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(8, 8, 8);
    background-color:  rgba(255, 191, 145, 0.866);
    margin: 20px auto;
    margin-bottom: 15px;
    width: 400px;
    height: auto;
    text-align: center;
    padding: 15px;
    margin-top: 0px;
}
